:host {
  display: block;
  height: 100vh;
}

main {
  height: 100%;
  display: grid;
  padding: 3px;
  grid-gap: 3px;

  grid-template:
    'nav head' min-content
    'nav main' 1fr
    / min-content 1fr;
}

.nav {
  grid-area: nav;
}

header {
  grid-area: head;
  min-height: 10vh;
  max-height: 20vh;
}

section {
  grid-area: main;
}
