:host {
  display: block;
  height: 100vh;
}

main {
  height: 100%;
  display: grid;
  border: 3px dotted red;
  padding: 3px;
  grid-gap: 3px;

  grid-template:
    'nav head' min-content
    'nav main' 1fr
    / min-content 1fr;
}

nav {
  grid-area: nav;
  border: 3px dotted blue;

  min-width: 20vw;
  max-width: 45vw;
}

header {
  grid-area: head;
  border: 3px dotted orange;

  min-height: 10vh;
  max-height: 20vh;
}

section {
  grid-area: main;
  border: 3px dotted gray;
}
